. choose-icons  { 
  list-style :  none ; 
  margin :  0 , 
  padding :  0 ; 
}

. choose-icons : after  { 
  content :  "" ; 
  clear :  Both ; 
}

.choose-icon {
  border: 1px solid #ccc;
  margin-left:5px;
  box-sizing: border-box;
  float: left;
  height: 70px;
  position: relative;
  width: 120px;
}

. choose-icon  +  . choose-icon  { 
  margin-left :  35px ; 
}

.choose-icon label {
  background: no-repeat center center;
  bottom: 1px;
  cursor: pointer; 
  left: 15px;
  position: absolute;
  right: 1px;
  text-indent:5%;
  top: 3px;
  white-space: nowrap;
}

.forum label {
  background-image:url("http://localhost/moodle/mod/forum/pix/icon.png"); /*forum*/
}

.assignment label {
  background-image: url("http://localhost/moodle/mod/assignment/pix/icon.png"); /*assignment*/
}

.chat label {
  background-image: url("http://localhost/moodle/mod/chat/pix/icon.png");/*chat*/
}

.choice label {
  background-image: url("http://localhost/moodle/mod/choice/pix/icon.png");/*choice*/
}

.database label {
  background-image: url("http://localhost/moodle/mod/data/pix/icon.png");/*database*/
}

.externalTool label {
  background-image: url("http://localhost/moodle/mod/lti/pix/icon.png");/*externalTool*/
}

.glossary label {
  background-image: url("http://localhost/moodle/mod/glossary/pix/icon.png");/*glossary*/
}
.lesson label {
  background-image: url("http://localhost/moodle/mod/lesson/pix/icon.png");/*lesson*/
}

.quiz label {
  background-image: url("http://localhost/moodle/mod/quiz/pix/icon.png");/*quiz*/
}

.scorm label {
  background-image: url("http://localhost/moodle/mod/scorm/pix/icon.png");/*scorm*/
}

.survey label {
  background-image: url("http://localhost/moodle/mod/survey/pix/icon.png");/*survey*/
}

.wiki label {
  background-image: url("http://localhost/moodle/mod/wiki/pix/icon.png");/*wiki*/
}

.workshop label {
  background-image: url("http://localhost/moodle/mod/workshop/pix/icon.png");/*workshop*/
}

.book label {
  background-image: url("http://localhost/moodle/mod/book/pix/icon.png");/*book*/
}

.file label {
  background-image: url("http://localhost/moodle/mod/resource/pix/icon.png");/*file*/
}

.ims label {
  background-image: url("http://localhost/moodle/mod/imscp/pix/icon.png");/*ims*/
}

.label label {
  background-image: url("http://localhost/moodle/mod/label/pix/icon.png");/*label*/
}

.page1 label {
  background-image: url("http://localhost/moodle/mod/page/pix/icon.png");/*page*/
}

.url label {
  background-image: url("http://localhost/moodle/mod/url/pix/icon.png");/*url*/
}


. choose-icon-  input : focus  +  label  { 
  outline :  2px  dotted  # 21b4d0 ; 
}

. choose-icon-  input : checked  +  label  { 
  outline :  4px  solid  # 21b4d0 ; 
}